<button (click)="show=!show"> Edit Behavior </button>
<section *ngIf="show">
  <div style="display:inline-block;">
    <!-- <input type="text" placeholder="name" [(ngModel)]="name">
    <select [(ngModel)]="filename" required>
      <option *ngFor="let image of images" [ngValue]="image">{{image}}</option>
    </select>
    <button (click)="add(name, filename)">Add</button> -->
  </div>
  <div *ngFor="let sprite of sprites">
    <div style="display:inline-block;">
      {{sprite.name}}
      <input type=text [(ngModel)]="property" placeholder="Enter sprite property like 'x'">
      <input #inputElement [name]="sprite.name" type="text" [value]="sprite[property]" (change)="change(inputElement, property)">
    </div>
  </div>
</section>
