<section style="margin-top: 8px;padding-top:0px;width:100%;">
  <div style="display:inline-block;">
    <select [(ngModel)]="sprite" required (change)="selectionChanged()">
      <option *ngFor="let s of sprites" [ngValue]="s">{{s.name}}</option>
    </select>
  </div>
  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <article style="margin-top: 8px;padding-top:0px;width:100%;height: 100%;">
        <div *ngFor="let key of keys">
          <div style="display:inline-block;">
            {{key}}
          </div>
        </div>
      </article>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <article style="margin-top: 8px;padding-top:0px;width:100%;height: 100%;">
          <div *ngFor="let key of keys">
            <div style="display:inline-block;">
              {{sprite[key]}}
            </div>
          </div>
        </article>
      </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <article class="full" >
        <textarea class="full" >
        </textarea>
      </article>
    </mat-grid-tile>
  </mat-grid-list>
</section>