<section>

  <div style="display:inline-block;">
    <select [(ngModel)]="sprite" required (change)="selectionChanged()">
      <option *ngFor="let selectValue of sprites" [ngValue]="selectValue">{{selectValue.name}}</option>
    </select>
  </div>

  <div style="display:inline-block;">
    <input type="text" placeholder="name" [(ngModel)]="name">
    <select [(ngModel)]="filename" required>
      <option *ngFor="let image of images" [ngValue]="image">{{image}}</option>
    </select>
    <button (click)="add(name, filename)">Add</button>
  </div>


  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <article style="margin-top: 8px;padding-top:0px;width:100%;height: 100%;">
        <div *ngFor="let key of keys">
          <div class="keyLable">
            {{key}}
          </div>
        </div>
        <input size="15" type=text [(ngModel)]="newField" (change)="changeNewField($event)" placeholder="Enter a lable">
      </article>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <article style="margin-top: 8px;padding-top:0px;width:100%;height: 100%;">
        <div *ngFor="let key of keys">
          <div style="display:inline-block;">
            <input #inputElement [name]="sprite.name" type="text" [value]="sprite[key]" (change)="change(inputElement, key)">
          </div>
        </div>
        <input #newFieldElement [type]="getType()" [(ngModel)]="newValue" (change)="change(newFieldElement, newField)">
      </article>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <article class="full">
        <textarea class="full">
          </textarea>
      </article>
    </mat-grid-tile>
  </mat-grid-list>
</section>
