<section>
    {{property}}
  <div style="display:inline-block;">
    <button *ngIf="getSprite() && sprite.name !== 'New'" (click)="deleteSprite()">Delete</button>
    <select [(ngModel)]="selectedSprite" required (change)="spriteSelectionChanged()">
      <option *ngFor="let selectValue of sprites" [ngValue]="selectValue">{{selectValue.name}}</option>
    </select>
    <select [(ngModel)]="key" required (change)="keySelectionChanged()">
      <option *ngFor="let keyValue of keys" [ngValue]="keyValue">{{keyValue}}</option>
    </select>
    <input *ngIf="key && key ==='New'" type="text" [(ngModel)]="newProperty" placeholder="Enter New Property">
<input *ngIf="key" [type]="keyType" #propertyInputField (change)="change(propertyInputField.value)">


    <div *ngIf="sprite && sprite.name === 'New'">
      <input type="string" [value]="name" (change)="change()">
      <button (click)="add()">Add</button>
    </div>
  </div>

<div *ngIf="sprite && sprite.name !== 'New'">
  <p>{{sprite.name}} yells {{sprite.yell}}</p>
</div>


  <div *ngIf="key==='interactive'">
    <p>Create a function</p>
    <input type="string" [(ngModel)]="functionName">
    <textarea class="full" [(ngModel)]="functionText"></textarea>
    <button (click)="add()">Add</button>
  </div>

</section>
