<div class="col-wrapper">
    <div style="display:inline-block;">
      <p>add</p>
      <input type="text" placeholder="name" [(ngModel)]="name">
      <select [(ngModel)]="file_name" required>
        <option *ngFor="let image of images" [ngValue]="image">{{image}}</option>
      </select>
      <button (click)="add(name, file_name)">Add</button>
      </div>

  <!-- <div #textExample></div> -->
  <app-game (update)="update($event)"></app-game>
  <div *ngFor="let sprite of sprites" >
    <div style="display:inline-block;">
    {{sprite.name}}
    <input type=text [(ngModel)]="property">
    <input #inputElement [name]="sprite.name" type="text" [value]="sprite[property]" (change)="change(inputElement, property)">
    </div>
  </div>
</div>
